<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/sitelayout :: htmlhead" th:with="title='All Emulators'"></head>

  <body>
    <div th:replace="layout/sitelayout :: navbar">(navbar)</div>

    <div class="container">
      <div class="starter-template">
        <div class="panel panel-primary">
		  <div class="panel-heading">All Emulators</div>
		  <table class="table table-striped">
		  	<thead>
		  		<tr>
		  			<th style="width:70px">#</th>
		  			<th>Name</th>
		  			<th >Scheduled</th>
		  			<th >Launched</th>
		  			<th >Logcat</th>
		  			<th >APK Installed</th>
		  			<th >Analytis Project ID</th>
		  			<th >APK For Analytics</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr th:each="emulator:${emulators}">
		  			<th scope="row" th:text="${emulator.id}"></th>
		  			<td th:text="${emulator.emulatorName}"></td>
		  			<td th:text="${emulator.scheduled}"></td>
		  			<td th:text="${emulator.emulatorLaunched}"></td>
		  			<td th:text="${emulator.logcatLaunched} ? 'on' : 'off'"></td>
		  			<td th:text="${emulator.apkInstalled}"></td>
		  			<td th:text="${emulator.analyticsProjectId} ? ${emulator.analyticsProjectId} : ''"></td>
		  			<td th:text="${emulator.apkForAnalytics}"></td>
		  		</tr>
		  	</tbody>
		  </table>
		</div>
        <div th:include="layout/sitelayout :: pagination-bar" id="pagination-bar">(pagination-bar)</div>
      </div>
    </div>

    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>

  </body>
</html>
