<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/sitelayout :: htmlhead" th:with="title='Establish Project'"></head>

  <body>
    <div th:replace="layout/sitelayout :: navbar">(navbar)</div>

    <div class="container">
      <div class="starter-template">
        <h1>Establish Project</h1>
        <br />
	        <div class="panel panel-primary">
			  <div class="panel-heading">Established the project</div>
			  <table class="table table-striped">
			  	<thead>
			  		<tr>
			  			<th style="width:70px">#</th>
			  			<th style="width:100px">Project Name</th>
			  			<th style="width:210px">APK Name</th>
			  			<th style="width:150px">APK Upload Time</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr>
			  			<th scope="row" th:text="${unestablishedProject.id}"></th>
			  			<td th:text="${unestablishedProject.projectName}"></td>
			  			<td th:text="${unestablishedProject.apkName}"></td>
			  			<td th:text="${#calendars.format(unestablishedProject.apkUploadTime,'yyyy-MM-dd HH:mm:ss')}"></td>
			  		</tr>
			  	</tbody>
			  </table>
			</div>
			<button type="button" class="btn btn-primary" th:onclick="'javascript:location.href=\'' + ${establishPage} + '/' + ${id} + '\''" title="Establish">Establish</button>
      </div>
    </div>

    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>

  </body>
</html>
