<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/sitelayout :: htmlhead" th:with="title='Terminate Project'"></head>

  <body>
    <div th:replace="layout/sitelayout :: navbar">(navbar)</div>

    <div class="container">
      <div class="starter-template">
        <h1>Terminate Project</h1>
        <br />
        <br />
        <br />
        <br />
        <p class="lead" th:text="${msg}"></p>
      </div>
    </div>

    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>

  </body>
</html>
