<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout/sitelayout :: htmlhead" th:with="title='Upload APK File'"></head>

	<body>
		<div th:replace="layout/sitelayout :: navbar">(navbar)</div>
		<div class="container">
	      <div class="starter-template">
	        <div class="apk-upload-form"> 
	        	<p class='lead' th:text="${msg}"/>
				<form method="POST" enctype="multipart/form-data" action="/ue-platform/project/uploadForManualTesting">
					<p class='lead'>Project name:</p>
					<input type="text" id="txt-project-name" class="form-control" placeholder="Project name" name="projectName" /><br /><br />
					
					<p class='lead'>APK file for analysis:</p>
					<label for="btn_finput_for_apk_file" id="labelFile">
						<img class="imgFile" th:src="@{/images/upload-apk.png}" />
					</label>
					<input type="file" name="apkFile" id="btn_finput_for_apk_file" class="file"/><br /><br />
					
					<button type="submit" class="btn btn-primary">Create Project</button>
				</form>
	        </div>
	      </div>
	    </div>
	    
	    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>
	</body>
</html>