<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/sitelayout :: htmlhead" th:with="title='Operation Done'"></head>

  <body>
    <div th:replace="layout/sitelayout :: navbar">(navbar)</div>

    <div class="container">
      <div class="starter-template">
        <h1>Operation done</h1>
        <br />
			<div th:class="${opSuccess} ? 'panel panel-success' : 'panel panel-danger'">
			  <div class="panel-heading">
			    <h3 class="panel-title">Operation result message</h3>
			  </div>
			  <div class="panel-body">
			    <article th:text="${msg}"></article>
			  </div>
			</div>
      </div>
    </div>

    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>

  </body>
</html>
