<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>
		<title>Project Analysis Detail</title>
		<link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.css}" rel="stylesheet"></link>
  		<link th:href="@{/css/ue-platform.css}" rel="stylesheet"></link>
	</head>
	<body>
		<div th:replace="layout/sitelayout :: navbar">(navbar)</div>
		<br/>
		<div class="panel panel-display-mid">
		  <div class="panel-heading">
		    <h3 class="panel-title" align="center">Project Information</h3>
		  </div>
		  <div class="panel-body">
			    <table class="table table-striped">
			  	<thead>
			  		<tr>
			  			<th style="width:90px">Project ID</th>
			  			<th style="width:120px">Project Name</th>
			  			<th style="width:120px">APK Name</th>
			  			<th style="width:125px">Analysis State</th>
			  			<th style="width:120px">Start Time</th>
			  			<th style="width:120px">End Time</th>
			  			<th style="width:110px">Uptime (min)</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr>
			  			<th align="center" scope="row" th:text="${project.id}"></th>
			  			<td align="center" th:text="${project.projectName}"></td>
			  			<td align="center" th:text="${project.apkName}"></td>
			  			<td align="center" th:text="${project.analysisState}"></td>
			  			<td align="center" th:text="${#calendars.format(project.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
			  			<td align="center" th:text="${project.endTime} ? ${#calendars.format(project.endTime,'yyyy-MM-dd HH:mm:ss')} : 'Not yet'"></td>
			  			<td align="center" th:text="${temporaryUptime} ? ${temporaryUptime} : ${project.uptime}"></td>
			  		</tr>
			  	</tbody>
			  </table>
			    <table class="table table-striped">
					<thead>
				  		<tr>
				  			<th>#</th>
				  			<th>Permission List</th>
				  		</tr>
				  	</thead>
				  	<tbody>
				  		<tr th:each="permission:${permissions}" align="center">
				  			<td th:text="${permission}" align="left"></td>
				  		</tr>
				  	</tbody>
				</table>
		  </div>
		</div>
		<br />
		<div class="panel panel-display-tree-diagram">
		  <div class="panel-heading">
		    <h3 class="panel-title"  align="center">Analytics Tree Diagram</h3>
		  </div>
		  <div class="panel-body">
			    <button id="toggle" type="button" class="btn btn-pullback" title="Pull back the tree.">Pull back</button>
			    <button type="button" th:class="${canCaptureSnapshot} ? 'btn btn-pullback' : 'disabled btn btn-danger'" onclick="captureSnapshot()" title="Capture the current snapshot">Capture snapshot</button>
		  		<button type="button" th:class="${canCaptureSnapshot} ? 'btn btn-pullback' : 'disabled btn btn-danger'" onclick="playbackScript()" title="Playback with MonkeyRunner script">Playback script</button>
		  		<div id="analysis-tree">
				</div>
		  </div>
		</div>
		<br />
		<div class="panel panel-display-mid" style="margin:0px auto;">
			<div class="panel-heading"  align="center">Detail Data</div>
			<div class="panel-body">
				<div id="detail" style="margin:0px auto;">
					<div class="page-header"><h4 align="center" id="parent"></h4></div>
					<img id="detailurl" height="auto" width="150" style="display:block; margin:auto;"></img>
					<br></br>
					<table id="detailtable" class="table" style="TABLE-LAYOUT:fixed;"></table>
				</div>
			</div>
		</div>
		<!-- <div id="tooltip" class="hidden">
			<p><strong>Detail Data</strong></p>
			<p><span id="value">100</span></p>
		</div> -->
		<div id="pic" class="hidden">
			<img id="url" height="auto" width="150"></img>
		</div>
		<div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>
		
		<script src="/webjars/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
		<script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			        var tables = document.getElementsByTagName('tbody');
				    var table = tables[tables.length - 1];
				    var rows = table.rows;
				    for(var i = 0, td; i < rows.length; i++){
				        td = document.createElement('td');
				        td.appendChild(document.createTextNode(i + 1));
				        rows[i].insertBefore(td, rows[i].firstChild);
				    }   
					
			        //Mouse position detection block start
			        var mie = (navigator.appName == "Microsoft Internet Explorer") ? true : false;
					if (!mie) {
					     document.captureEvents(Event.MOUSEMOVE);
					}
					document.onmousemove = function (e) {mousePos(e);};
					var mouseX = 0;
					var mouseY = 0;

					function mousePos (e) {
					    if (!mie) {
					        mouseX = e.pageX; 
					        mouseY = e.pageY;
					    }
					    else {
					        mouseX = event.clientX + document.body.scrollLeft;
					        mouseY = event.clientY + document.body.scrollTop;
					    }
					    return true;
					}
					//Mouse position detection block end
					
					//Function for capturing the current activity snapshot.
					function captureSnapshot() {
						var id = /*[[${project.id}]]*/;
						var url = '/ue-platform/analysis/activity/snapshot/capturedById/' + id;
					    $.ajax({
					      url: url,
					      data: {}, //parameters go here in object literal form
					      type: 'GET',
					      datatype: 'json',
					      success: function(response) { alert(response); },
					      error: function() { alert('Captured failed, please make sure you have enough permission to capture the snapshot in the emulator.'); }
					    });
					}
					
					//Function for playback with MonkeyRunner script.
					function playbackScript() {
						var id = /*[[${project.id}]]*/;
						var url = '/ue-platform/project/runAutoTesting/' + id;
					    $.ajax({
					      url: url,
					      data: {}, //parameters go here in object literal form
					      type: 'GET',
					      datatype: 'json',
					      success: function(response) { alert(response); },
					      error: function() { alert('Oops!! Something wrong when playback!!'); }
					    });
					}
					
			    	var realWidth = window.innerWidth;
					var realHeight = window.innerHeight;
					
					var m = [40, 240, 40, 50],
					    w = realWidth -m[0] -m[0],
					    h = realHeight -m[0] -m[2],
					    i = 0,
					    root;
					
					var tree = d3.layout.tree().size([h, w]);
					
					var diagonal = d3.svg.diagonal().projection(function(d) { return [d.y, d.x]; });
					
					var vis = d3.select("#analysis-tree").append("svg:svg")
					    .attr("class","svg_container")
					    .attr("width", 1065)
					    .attr("height", 900)
					    .style("overflow", "scroll")
					  	.append("svg:g")
					    .attr("class","drawarea")
					  	.append("svg:g")
					    .attr("transform", "translate(" + m[3] + "," + m[0] + ")");
					
					var botao = d3.select("#toggle");
					
					function loadData(json) {
					    root = json;
					    d3.select("#processName").html(root.text);
					    root.x0 = h / 2;
					    root.y0 = 0;
					    botao.on("click", function(){toggle(root); update(root);});
					    update(root);  
					}
					
					function update(source) {
					    var duration = d3.event && d3.event.altKey ? 5000 : 500;
					    
					    // Compute the new tree layout.
					    var nodes = tree.nodes(root).reverse(),
							links = tree.links(nodes);
					    
					    // Normalize for fixed-depth.
					    nodes.forEach(function(d) { d.y = d.depth * 180; });
					    
					    // Update the nodes…
					    var node = vis.selectAll("g.node").data(nodes, function(d) { return d.id || (d.id = ++i); });
					    
					    // Enter any new nodes at the parent's previous position.
					    var nodeEnter = node.enter().append("svg:g")
					    .attr("class", "node")
					    .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
					    .on("click", function(d) { toggle(d); update(d); })
					    .on("mouseover", function(d) {
										if (d.detail) {
											//Get this bar's x/y values, then augment for the tooltip
											var detail = d.detail;
											//Update the tooltip position and value
											d3.select("#tooltip")
											.style("left", mouseX + "px")
											.style("top", mouseY+30 + "px")
											.style("word-break", "break-all")
											.style("width", 300 +"px")
											.select("#value")
											.html(d.detail);			   
											//Show the tooltip
											d3.select("#tooltip").classed("hidden", false);
										}
										if (d.url) {
											//Get this bar's x/y values, then augment for the tooltip
											//Update the tooltip position and value
											d3.select("#pic")
											.style("left", mouseX + "px")
											.style("top", mouseY+30 + "px")
											.style("word-break", "break-all")					
											.select("#url")
											.attr("src", d.url);
											//Show the tooltip
											d3.select("#pic").classed("hidden", false);
										}
								   })
						.on("mouseout", function() {
							d3.select("#tooltip").classed("hidden", true);
							d3.select("#pic").classed("hidden", true);
						});
					    
					    nodeEnter.append("svg:circle")
					    .attr("r", function(d){ return 10;})
					    .attr("class", function(d) { return "level"+d.part_level; })
					    .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });
					    
					    nodeEnter.append("svg:text")
						.attr("x", function(d) { return d.children || d._children ? 20 : 20; })
		  				.attr("dy", function(d) { return d.children || d._children ? 20 : 5; })
						.attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
						.text(function(d) { return d.name; })
						.style("fill-opacity", 1e-6);
					    
					    // Transition nodes to their new position.
					    var nodeUpdate = node.transition()
					    .duration(duration)
					    .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });
					    
					    nodeUpdate.select("circle")
						.attr("r", function(d) { return d.value; })
						.style("stroke", function(d) { return d.type; })
						.style("fill", function(d) { return d.level; });
					    
					    nodeUpdate.select("text").style("fill-opacity", 1);
					    
					    // Transition exiting nodes to the parent's new position.
					    var nodeExit = node.exit().transition()
					    .duration(duration)
					    .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
					    .remove();
					    
					    nodeExit.select("circle").attr("r", 1e-6);
					    
					    nodeExit.select("text").style("fill-opacity", 1e-6);
					    
					    // Update the links…
					    var link = vis.selectAll("path.link")
					    .data(tree.links(nodes), function(d) { return d.target.id; });
					    
					    // Enter any new links at the parent's previous position.
					    link.enter().insert("path", "g")
						  .attr("class", "link")
						  .style("stroke", function(d) { return d.target.level; })
						  .attr("d", function(d) {
							var o = {x: source.x0, y: source.y0};
							return diagonal({source: o, target: o});
						  })
						  .transition()
					      .duration(duration)
					      .attr("d", diagonal);
					    
					    // Transition links to their new position.
					    link.transition()
					    .duration(duration)
					    .attr("d", diagonal);
					    
					    // Transition exiting nodes to the parent's new position.
					    link.exit().transition()
					    .duration(duration)
					    .attr("d", function(d) {
					        var o = {x: source.x, y: source.y};
					        return diagonal({source: o, target: o});
					    })
					    .remove();
					    
					    // Stash the old positions for transition.
					    nodes.forEach(function(d) {
					        d.x0 = d.x;
					        d.y0 = d.y;
					    });
					    
					    d3.select("svg").call(d3.behavior.zoom().scaleExtent([0.5, 5]).on("zoom", zoom));
					}
	
					// Toggle children.
					function toggle(d) {
					    if (d.children) {
					        d._children = d.children;
					        d.children = null;
					    } else {
					        d.children = d._children;
					        d._children = null;
					    }
					    if (d.detail) 
					    {		
					  		d3.select("#detail").select("#detailtable").html(d.detail);
					  		d3.select("#detail").select("#detailurl").attr("src", d.detailurl);
					  		d3.select("#detail").select("#parent").text(d.detailparent);					
					  	}
					}
					
					function zoom() {
					    var scale = d3.event.scale,
					        translation = d3.event.translate,
					        tbound = -h * scale,
					        bbound = h * scale,
					        lbound = (-w + m[1]) * scale,
					        rbound = (w - m[3]) * scale;
					    // limit translation to thresholds
					    translation = [
					        Math.max(Math.min(translation[0], rbound), lbound),
					        Math.max(Math.min(translation[1], bbound), tbound)
					    ];
					    d3.select(".drawarea")
					        .attr("transform", "translate(" + translation + ")" +
					              " scale(" + scale + ")");
					}
					
					var treeDiagram = JSON.parse(/*[[${result}]]*/);
					loadData(treeDiagram);
			/*]]>*/
		</script>
	</body>
</html>