body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.footcontainer {
	height: 200px;
	width: 550px;
	margin: 10px auto;
	font-size: 0;
}

.footcontainer:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

.muted {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}

.apk-upload-form {
	text-align: center;
}

#txt-project-name {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

#btn_finput_for_apk_file {
	display: none;
}

#btn_finput_for_script {
	display: none;
}

.imgFile {
	width: 30%;
	height: auto;
}

th {
	text-align: center;
}

.btn-project-op {
	width: 40px;
	height: 30px;
	line-height: 0;
	padding: 1px;
}

.btn-project-tm {
	width: 72px;
	height: 30px;
	line-height: 0;
	padding: 1px;
}

.btn-project-de {
	width: 50px;
	height: 30px;
	line-height: 0;
	padding: 1px;
}

.btn-project-estb {
	width: 72px;
	height: 30px;
	line-height: 0;
	padding: 1px;
}

.emulator-config-form {
	width: 100%;
}

.emulator-config-form h4 {
	width: 400px;
	margin: auto;
}

.emulator-config-form .form-control {
	width: 400px;
	margin: auto;
}

.emulator-mg-panel {
	width: 500px;
	margin: auto;
}

.btn-view-detail {
	width: 100px;
	height: 30px;
	line-height: 0;
	padding: 1px;
}

.btnHolder {
	text-align: center;
}

.panel-display-mid {
	width: 1100px;
	margin: auto;
}

.panel-display-mid {
	border-color: #00bfa5;
}

.panel-display-mid > .panel-heading {
	color: #fff;
	background-color: #00bfa5;
	border-color: #00bfa5;
}

.panel-display-mid > .panel-heading+.panel-collapse .panel-body {
	border-top-color: #00bfa5;
}

.panel-display-mid > .panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #00bfa5;
}

.panel-display-tree-diagram {
	width: 1100px;
	margin: auto;
}

.panel-display-tree-diagram {
	border-color: #00bfa5;
}

.panel-display-tree-diagram > .panel-heading {
	color: #fff;
	background-color: #00bfa5;
	border-color: #00bfa5;
}

.panel-display-tree-diagram > .panel-heading+.panel-collapse .panel-body {
	border-top-color: #00bfa5;
}

.panel-display-tree-diagram > .panel-footer+.panel-collapse .panel-body {
	border-bottom-color: #00bfa5;
}

.btn-pullback {
  color: #fff;
  background-color: #00bfa5;
  border-color: #26a69a;
}
.btn-pullback:hover,
.btn-pullback:focus,
.btn-pullback:active,
.btn-pullback.active,
.open .dropdown-toggle.btn-pullback {
  color: #fff;
  background-color: #009688;
  border-color: #00897b;
}
.btn-pullback:active,
.btn-pullback.active,
.open .dropdown-toggle.btn-pullback {
  background-image: none;
}
.btn-pullback.disabled,
.btn-pullback[disabled],
fieldset[disabled] .btn-pullback,
.btn-pullback.disabled:hover,
.btn-pullback[disabled]:hover,
fieldset[disabled] .btn-pullback:hover,
.btn-pullback.disabled:focus,
.btn-pullback[disabled]:focus,
fieldset[disabled] .btn-pullback:focus,
.btn-pullback.disabled:active,
.btn-pullback[disabled]:active,
fieldset[disabled] .btn-pullback:active,
.btn-pullback.disabled.active,
.btn-pullback[disabled].active,
fieldset[disabled] .btn-pullback.active {
  background-color: #00bfa5;
  border-color: #26a69a;
}
.btn-pullback .badge {
  color: #00bfa5;
  background-color: #fff;
}

rect:hover {
	fill: orange;
}

#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}

#pic {
	position: absolute;
	width: 170px;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

#pic.hidden {
	display: none;
}

#pic p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}

#detail {
	width: auto;
	height: auto;
	background-color: white;
	pointer-events: none;
}

#detail.hidden {
	display: none;
}

#detail p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}

.node text {
	color: #212121;
	font: 12px sans-serif;
	font-weight: bold;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}