<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout/sitelayout :: htmlhead" th:with="title='Emulator Management'"></head>
	<body>
		<div th:replace="layout/sitelayout :: navbar">(navbar)</div>
			<div class="container">
				<div class="starter-template">
					<div class="panel panel-primary emulator-mg-panel">
						<div class="panel-heading">Emulator Management</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th style="width: 70px">#</th>
									<th>Name</th>
									<th>Scheduled</th>
									<th style="width:1000px">Operations</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="emulator:${emulators}">
									<th scope="row" th:text="${emulator.id}"></th>
									<td th:text="${emulator.emulatorName}"></td>
									<td th:text="${emulator.scheduled}"></td>
									<td>
						  				<button type="button" th:class="${emulator.scheduled} ? 'disabled btn btn-danger btn-project-estb' : 'btn btn-success btn-project-estb'" th:onclick="'javascript:location.href=\'' + ${page.systemConfigUrl} + '/' + ${emulator.id} + '\''" title="Config it" th:text="Config"></button>
						  				<button type="button" th:class="${emulator.scheduled} ? 'disabled btn btn-danger btn-view-detail' : 'btn btn-success btn-view-detail'" th:onclick="'javascript:initEnvState(\'' + ${emulator.id} + '\')'" title="Initialize emulator state">Initialize</button>
						  				<button type="button" class="btn btn-success btn-view-detail" th:onclick="'javascript:location.href=\'' + ${page.emulatorDetailUrl} + '/' + ${emulator.id} + '\''" title="View detail">View Detail</button>
						  			</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div th:include="layout/sitelayout :: pagination-bar" id="pagination-bar">(pagination-bar)</div>
				</div>
			</div>
		<div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>
		<script th:inline="javascript">
				   /*<![CDATA[*/
				        //Function for initializing the current emulator state.
						function initEnvState(id) {
							var url = '/ue-platform/emulator/init/' + id;
						    $.ajax({
						      url: url,
						      data: {}, //parameters go here in object literal form
						      type: 'GET',
						      datatype: 'json',
						      success: function(response) { alert(response); },
						      error: function(response) { alert(response); }
						    });
						}
		           /*]]>*/
		</script>
	</body>
</html>