<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout/sitelayout :: htmlhead" th:with="title='Finished Project List'"></head>

  <body>
    <div th:replace="layout/sitelayout :: navbar">(navbar)</div>

    <div class="container">
      <div class="starter-template">
        <div class="panel panel-primary">
		  <div class="panel-heading">Finished Projects</div>
		  <table class="table table-striped">
		  	<thead>
		  		<tr>
		  			<th style="width:70px">#</th>
		  			<th style="width:140px">Project Name</th>
		  			<th style="width:210px">APK Name</th>
		  			<th style="width:130px">Analysis State</th>
		  			<th style="width:165px">Start Time</th>
		  			<th style="width:165px">End Time</th>
		  			<th style="width:120px">Uptime (min)</th>
		  			<th style="width:133px">Operations</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr th:each="project:${projects}">
		  			<th scope="row" th:text="${project.id}"></th>
		  			<td th:text="${project.projectName}"></td>
		  			<td th:text="${project.apkName}"></td>
		  			<td th:text="${project.analysisState}"></td>
		  			<td th:text="${#calendars.format(project.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
		  			<td th:text="${#calendars.format(project.endTime,'yyyy-MM-dd HH:mm:ss')}"></td>
		  			<td th:text="${project.uptime}"></td>
		  			<td>
		  				<button type="button" class="btn btn-success btn-project-op" th:onclick="'javascript:location.href=\'' + ${page.treeViewUrl} + '/' + ${project.id} + '\''" title="View the tree diagram">View</button>
		  				<button type="button" class="btn btn-danger btn-project-de" th:onclick="'javascript:location.href=\'' + ${page.deleteUrl} + '/' + ${project.id} + '\''" title="Delete this project">Delete</button>
		  			</td>
		  		</tr>
		  	</tbody>
		  </table>
		</div>
        <div th:include="layout/sitelayout :: pagination-bar" id="pagination-bar">(pagination-bar)</div>
      </div>
    </div>

    <div th:include="layout/sitelayout :: footer" id="footer">(footer)</div>

  </body>
</html>
